main {
    max-width: 1200px;
    margin: 40px auto;
}

#carousel {
    width: 900px;
    margin: 0 auto;
    position: relative;
}

#carousel img {
    width: 100%;
    display: block;
    height: auto;
}

#carousel-title {
    margin-top: 20px;
    text-align: center;
}

#carousel-title h2 {
    font-size: 42px;
    font-weight: bold;
}

/* BOTÕES */

#carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 60px;
    height: 60px;

    border: none;
    border-radius: 50%;

    background: #1351d8;
    color: #fff;

    font-size: 24px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

#carousel button:hover {
    background: #1b357e;
}

/* Botão esquerdo */

.btn-esquerda {
    left: -80px;
}

/* Botão direito */

.btn-direita {
    right: -80px;
}