header {
    max-width: 1200px;
    margin: 0 auto;
    height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.logo {
    width: 140px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #1351d8;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: #1b357e;
}